*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signupdesign{
    max-width: 18rem;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.signupdesign input{
    flex: 5;

    outline: none;
    border: 2px solid #cabebe;
    border-radius: 4px;
    height: 30px;
    padding: 3px;
}
::placeholder {
    color: rgb(121, 110, 110);
    font-size: 1rem;
}

.signupdesign div{
    display: flex;
    gap: 10px;
}
.signupdesign button{
    background-color: #56c55af5;
    height: 30px;
    padding: 3px;
    color: white;
    font-size: 1rem;
    border-color: transparent;
    border-radius: 4px;
}
.signupdesign button:hover{
    background-color: #008000b8;
   
}
.result{
    max-width: 18rem;
    margin: 5% auto;
   font-size: 3.3rem;
}
.q1{
    background-color: beige;
    height: 100vh;
    display: flex;
}
.q2{
    background-color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;
    padding: 3rem;
    gap: 20px;
    margin: 7% auto;
}
.q2 p{
    font-size: 2.2rem;
}
.q2 button{
    border: 1px solid #9E9E9E;
    background-color: white;
    width: 18rem;
    height: 2.2rem;
    font-size: 1.2rem;
    
    border-radius: 5px;
}
.endbtn {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    width: 18rem;
    /* justify-content: center; */
    /* align-items: center;*/
    margin: 0 auto;

}
#checked{
   background-color: blue;
   border: 1px solid #9E9E9E;
    
    width: 18rem;
    height: 2.2rem;
    font-size: 1.2rem;
    
    border-radius: 5px;
}
#nxtbtn{
    background-color: green;
    color: white;
}
#subbtn{
    background-color: orange;
    color: white;
}